body { 
    margin: 0;
}
svg, canvas{
    /* background: grey; */
    /* background: rgb(178, 172, 162); */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    cursor: text;
}

/* // no-repeat bottom center fixed; */