body { 
	/*background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 10px;
    background-size: 100% 70px;
    overflow: hidden;
    margin: 0;*/
    overflow: hidden;
}
rect{
    box-sizing: border-box
}
#layers{
    position: absolute;
    right: 200px;
    display: flex;
}
#layers div{
    border-radius: 10%;
    padding: 20px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#pageLoading{
    position: absolute;
    left: 200px;
    display: flex;
}
.page{
    padding: 15px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: white;
   
}
.lineRed {
    background-size: 79px 360px;
    position: absolute;
    width: 77px;
    top: 0;
    left: 260px;
    bottom: 0;
    /* border: 1px solid; */
    border-color: transparent #efe4e4;
    background-image: url("./../../static/reliure.png");
  } 
/* #leftPart{
    fill: red;
} 
 
  /* #leftPart {

    width: 300px;
    height: 100%;
 
    background: white;  
  } */
  #eventReceiver{
    width: 100%;
    height: 100%;
  }
  #swipeLayer{
    width: 100%;
    height: 100%;
  }
/* 
  #gallery{
    position: absolute;
    left: 30%;
    top: 16%;
    width: 800px;
    height: 400px;
    overflow-x: scroll;
    overflow-y: hidden;

    background-color: rgb(58, 58, 69); 

  }
  #canvasGallery{
    overflow-x: auto;
    overflow-y: hidden;

  }
 */


#canvasVisualization{
    /* background: grey; */
    /* background: rgb(178, 172, 162); */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    cursor: text;
}
#buttons{
    position: absolute;
    width: 100%;
    /* height: 100%; */
}
.buttonMenu{
    padding:20px;
}
#abcd{
    position: absolute;
    top: 0px;
    left: 60px;
    width: 100px;
    border-radius: 10%;
    padding: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    
}
#abcd img{
    width: 100%;
}

#closeModal{
    width: 100px;
    position: absolute;
    left: 45%;
    top: 87%;
    border-radius: 10%;
    padding: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#closeModal img{
    width: 100%;
}
#rectVisualization{
    /* width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    cursor: text; */
}
.SVGitem{
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
}

.lettres{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2.5%;
    left: 2.5%;
    background: white;
    
}
#item-feedBackVoice, #circlefeedBackVoice{
    pointer-events: none;
}
.containerLetters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lettreSVG{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 50px;

}
.textLabel{
    text-align: center;
}
/* // no-repeat bottom center fixed; */


#pens{
    position: absolute;
    top: 700px;
    display: flex;
    flex-direction: column;
    right: 90px;
}
.pen{
    position: relative;
    width: 100px;
    height: 100px;
    /* transform: rotate(180deg); */
    /* background: black; */
    /* margin: 10px; */
    
}

#pattern{
    height: 120px;
    /* transform: rotate(180deg); */
}
.pen img{
    height: 100%;
}

#colorsMenu{
    position: absolute;
    top: 0px;
    right: 20px;;
    display: flex;
    flex-direction: column;
}
.colorPen{
    width: 30px;
    height: 30px;
    position: relative;
    
    margin-top: 10px;
    border-radius: 50%;
    border: 2px solid grey;
}

#patternSVG{
    border: solid grey 1px;
    position: absolute;
    top: 22px;
    height: 83px;
    width: 200px;
    right: -180px;
    /* right:-111px; */
}