body { 
	background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 10px;
    background-size: 100% 70px;
}
body::before {

    content: '';
    position: absolute;
    width: 4px;
    top: 0;
    left: 300px;
    bottom: 0;
    border: 1px solid;
    border-color: transparent #efe4e4;
  
  }
#canvasVisualization{
    /* background: grey; */
    /* background: rgb(178, 172, 162); */
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    cursor: text;
}
#buttons{
    position: absolute;
   
}
.buttonMenu{
    padding:20px;
}
#abcd{
    position: absolute;
    top: 0px;
    left: 20px;
    width: 100px;
    border-radius: 10%;
    padding: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    
}
#abcd img{
    width: 100%;
}

#closeModal{
    width: 100px;
    position: absolute;
    left: 45%;
    top: 87%;
    border-radius: 10%;
    padding: 2px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}
#closeModal img{
    width: 100%;
}
#rectVisualization{
    /* width: 100%;
    height: 100%;
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
    cursor: text; */
}
.SVGitem{
    width: 100%;
    height: 100%;
    user-select: none;
    touch-action: none;
}

.lettres{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    position: absolute;
    width: 90%;
    height: 90%;
    top: 2.5%;
    left: 2.5%;
    background: white;
    
}
.containerLetters{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lettreSVG{
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);

    width: 100px;
    height: 100px;
    margin: 10px;
    margin-top: 50px;

}
.textLabel{
    text-align: center;
}
/* // no-repeat bottom center fixed; */